* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
}

:root {
    --background: white;
    --text-color: #0c0c0c;
}

@font-face {
    font-family: 'Lavinia';
    src: url(../site/fonts/Lavinia.otf) format('opentype');
}

.header {
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black; 
}

#darkmode {
    width: 35px;
    height: 35px;
}

#btn-darkmode {
    width: 35px;
    height: 45px;
    margin-left: 25px;
    border-radius: 15px;
    border: none;
    background-color: transparent;
}

#btn-darkmode:hover {
    cursor: pointer;
}

#github-icon {
    width: 30px;
    margin-left: 50px;
}

.header > h1 {
    font-size: 50px;
    font-family: 'Lavinia';
    color: var(--text-color);
}

.painel {
    width: 800px;
    margin-left: 20px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.painel > h2{
    color: var(--text-color);
}

input[type=button] {
    width: 100px;
    height: 35px;
    margin-left: 10px;
    background-color: black;
    border: none;
    color: white;
    border-radius: 15px;
    outline: none;
    cursor: pointer;

}

input[type=button]:hover {
    opacity: 0.9;
}

.painel > input[type=text] {
    margin-left: 10px;
    outline: none;
    border-radius: 12px;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 40, 40);
    padding-left: 5px;
    width: 250px;
}

#error, #aviso {
    color: red;
    text-align: center;
}

#error {
    margin-top: 5px;
}

.lista {
    margin-top : 20px;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: ease-in-out;
    transition-duration: 0.1s;
    margin-bottom: 20px;
}

.item {
    width: 850px;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.034);
    margin-top: 15px;
    margin-left: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    border-color: rgba(255, 255, 255, 0.507);
    display: flex;
    align-items: center;
    
}

.confirma {
    width: 100px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid rgb(255, 255, 255);
}

.confirma > input {
    width: 50px;
    height: 50px;
}

.content {
    width: 640px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-break: auto;
}

.content > p {
    font-size: 30px;
    margin-left: 10px;
    color: var(--text-color);
}

#btnErro {
    width: 15px;
    height: 15px;
    background-color: red;
}

#btnExcluir {
    display: none;
    background-color: rgb(177, 4, 4);
}

@media only screen and (max-width: 767px) {
    .painel {
        width: 300px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
        margin-top: 8px;
    }

    .header {
        display: flex;
        height: 10vh;
    }

    .header > h1 {
        font-size: 35px;
    }

    .confirma {
        padding: 5px;
    }

    input[type=button] {
        width: 150px;
        height: 35px;
        margin-top: 10px;
    }

    .painel > input[type=text] {
        width: 200px;
        height: 25px;
    }

    #erro, #aviso {
        margin-top: 5px;
        text-align: center;
    }

    .lista {
        width: 310px;

    }

    .item {
        width: 330px;
        margin-left: 5px;
        margin-right: 5px;
        line-break: auto;
    }

    .content {
        width: 290px;
        line-break: auto;
    }

    .content > p {
        font-size: 25px;
    }
    
}
